body{
    margin: 0px;
}
*{
    box-sizing: border-box;
}
.container{
    padding-left: 120px;
}
h2{
    text-align: center;
}
section{
    display: inline-block;
    width: 300px;
    vertical-align: top;
    margin-left: 10px;
    padding: 10px;
    /* box-shadow: 3px 3px 10px #ccc; */
}
img{
    width: 100%;
    height: 450px;
}
h3{
    font-weight: 400;
    font-family: "Karma", serif;
    text-align: center;
    font-size: 24px;
    margin:0px 10px;
}
p{
    margin:0px 10px;
    text-align: center;
}